#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    height: 100vh; 
}

.listView{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2px;
}

.card{
   border: 1px solid gray;
   border-radius: 4px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   flex-wrap: wrap;
   margin: 5vh;
}

.row{
   background-color: transparent;
   display: flex;
   gap: 2px;
}

#catImage{
    height: 20vh;
    width: 20vw;
}

#proImage{
    height: 20vh;
    width: 20vw;
}

.productContent{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
  